# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBI2RQPmj_N4Fo9YHuV2aPu0mLXj6jK7KU
VITE_FIREBASE_AUTH_DOMAIN=brushspace-17bf4.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=brushspace-17bf4
VITE_FIREBASE_STORAGE_BUCKET=brushspace-17bf4.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1046513833436
VITE_FIREBASE_APP_ID=1:1046513833436:web:6b6d0b135f1ae492836b19
VITE_FIREBASE_MEASUREMENT_ID=G-01TCS5LLC0

# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=f3nn4gbc
VITE_CLOUDINARY_UPLOAD_PRESET=brushspace
VITE_CLOUDINARY_API_KEY=636282116583959
